:root {
    --orange-400: #FB923C;
    --orange-500: #F97316;
    --sky-600: #0284C7;
    --sky-700: #0369A1;
    --sky-800: #075985;
    --slate-800: #1E293B;
    --slate-700: #334155;
    --slate-300: #CBD5E1;
    --slate-200: #E2E8F0;
    --slate-100: #F1F5F9;
    --slate-50: #F8FAFC;
}