@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Mako&display=swap');

:root {
    --orange-400: #FB923C;
    --orange-500: #F97316;
    --sky-600: #0284C7;
    --sky-700: #0369A1;
    --sky-800: #075985;
    --slate-800: #1E293B;
    --slate-700: #334155;
    --slate-300: #CBD5E1;
    --slate-200: #E2E8F0;
    --slate-100: #F1F5F9;
    --slate-50: #F8FAFC;

    --font--body: 400 1rem/1.5 "Mako", sans-serif;
    --font--body--lg: 400 1.125rem/1.5 "Mako", sans-serif;
    --font--body--xl: 400 1.5rem/1.4 "Mako", sans-serif;
    --font--title--sm: 600 1.5rem/1.3 "Lexend Deca", sans-serif;
    --font--title: 700 1.875rem/1.3 "Lexend Deca", sans-serif;
    --font--title--lg: 700 2.25rem/1.3 "Lexend Deca", sans-serif;
    --font--support: 600 1.125rem/1.5 "Lexend Deca", sans-serif;
}