@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --orange-400: #FB923C;
    --orange-500: #F97316;
    --sky-600: #0284C7;
    --sky-700: #0369A1;
    --sky-800: #075985;
    --slate-800: #1E293B;
    --slate-700: #334155;
    --slate-300: #CBD5E1;
    --slate-200: #E2E8F0;
    --slate-100: #F1F5F9;
    --slate-50: #F8FAFC;

    --font--body: 400 1rem/1.5 "Raleway", sans-serif;
    --font--body--lg: 500 1.125rem/1.5 "Raleway", sans-serif;
    --font--body--xl: 600 1.5rem/1.4 "Raleway", sans-serif;
    --font--title--sm: 600 1.5rem/1.3 "Lato", sans-serif;
    --font--title: 900 1.875rem/1.3 "Lato", sans-serif;
    --font--title--lg: 900 2.25rem/1.3 "Lato", sans-serif;
    --font--support: 600 1.125rem/1.5 "Lato", sans-serif;
}